<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>huangdi</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>cn.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudentServlet</display-name>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>cn.student.servlet.deleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStudentServlet</display-name>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>cn.student.servlet.updateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllStudentServlet</display-name>
    <servlet-name>getAllStudentServlet</servlet-name>
    <servlet-class>cn.student.servlet.getAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllStudentServlet</servlet-name>
    <url-pattern>/getAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getStudnetBySnoServlet</display-name>
    <servlet-name>getStudnetBySnoServlet</servlet-name>
    <servlet-class>cn.student.servlet.getStudnetBySnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudnetBySnoServlet</servlet-name>
    <url-pattern>/getStudnetBySnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>cn.user.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>